.allframe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 23.5px;
  position: absolute;
  width: 500px;
  height: 48px;
  left: 520px;
  top: 1800px;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  gap: 8px;
  text-align: center;

  width: 48px;
  height: 48px;

  background: rgba(0, 0, 0, 0.04);
  border-radius: 60px;

  text-align: center;

  color: black;
}
.p {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 33.5px;
  position: absolute;
  width: 500px;
  height: 48px;
  left: 2px;
  top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #808080;
}
