.all {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 20px;
  gap: 20px;

  position: absolute;
  width: 544px;
  height: 60px;
  left: 31%;
  top: 1802px;

  background: rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}
.enter {
  width: 452px;
  height: 28px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #808080;

  flex: none;
  order: 0;
  flex-grow: 1;
  text-align: left;
}
