.tg {
  width: 55px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #808080;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.chat {
  width: 32px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #808080;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.tw {
  width: 47px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #808080;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.gt {
  width: 45px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #808080;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.dc {
  width: 51px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #808080;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.rt {
  width: 43px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  color: #808080;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 398px;
  height: 76px;
  left: 521px;
  top: 1902px;
}
.tgframe {
  width: 48px;
  height: 48px;

  background: rgba(0, 0, 0, 0.04);
  border-radius: 60px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tgframe2 {
  width: 48px;
  height: 48px;

  background: rgba(0, 0, 0, 0.04);
  border-radius: 60px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tglogo {
  width: 60%;
  height: 60%;
  padding-block: 10px;

  background: rgba(0, 0, 0, 0.04);
  border-radius: 60px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
