.allFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 736px;
  height: 200px;
  left: 352px;
  top: 412px;
}
.lastQuizText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 736px;
  height: 160px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.textPosta {
  width: 736px;
  height: 84px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #1b1b1e;

  flex: none;
  order: 1;
  align-self: stretch;
  text-align: left;
  flex-grow: 0;
}
.quizLast {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 736px;
  height: 66px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.quizText {
  width: 736px;
  height: 40px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;

  color: #000000;

  flex: none;
  order: 2;
  align-self: stretch;
  text-align: left;
  flex-grow: 0;
}
.lastImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 116px;
  height: 16px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.lastetsText {
  width: 92px;
  height: 16px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #017bff;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.ps {
  width: 112px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #808080;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tch {
  width: 9px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #808080;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.tch2 {
  width: 9px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #808080;

  flex: none;
  order: 3;
  flex-grow: 0;
}
.lastread {
  width: 91px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #808080;

  flex: none;
  order: 2;
  flex-grow: 0;
}
.date {
  width: 42px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #808080;

  flex: none;
  order: 4;
  flex-grow: 0;
}
.pss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 295px;
  height: 24px;

  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: left;
}
