.allFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0px;
  gap: 10px;

  position: absolute;
  width: 1120px;
  height: 144px;
  left: 160px;
  top: 2098px;
}
.based {
  width: 1120px;
  height: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.text2022 {
  position: absolute;
  width: 159px;
  height: 24px;
  right: 0px;
  top: 60px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #808080;
}
.baseOn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 140.75px;
  height: 24px;
  left: 0px;
  top: 60px;
}
.textBaseOn {
  width: 71px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #808080;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.ton {
  width: 35px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #808080;

  flex: none;
  order: 2;
  flex-grow: 0;
}
