.p {
  position: absolute;
  top: 1298px;
  left: 660px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  color: #000000;
}
.more {
  position: absolute;
  top: 1498px;
  left: 190px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  text-align: center;

  background: linear-gradient(263.85deg, #08e2ae 9.07%, #017bff 83.74%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 20px;
  gap: 20px;

  position: absolute;
  width: 544px;
  height: 60px;
  left: 448px;
  top: 1702px;

  background: rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  border: none;

  color: #808080;
}
